# IMAGES AND RESULTS
localization/*
!localization/README.md
test_imgs/*
!test_imgs/README.md
checkpoints/*
!checkpoints/README.md
checkpoints_v2/*
!checkpoints_v2/README.md

# PYTHON
__pycache__/

# OTHER
.DS_Store
.vscode/
.idea/
